<h1>Welocome to Instant Twitter App</h1>
<p>This is Home page</p>

 <% #if current_user %>
	<% #unless current_user.access_token %>
		<%=link_to "Post tweets manually", post_tweet_path %>
	<% #end %>
<%# end %>
